spring:
  datasource:
    url: jdbc:mysql://localhost:3306/web3
    username: ${DB_USERNAME:root}
    password: ${DB_PASSWORD:password}
    driver-class-name: com.mysql.cj.jdbc.Driver
    hikari:
      maximum-pool-size: 10
      connection-timeout: 30000

  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQLDialect
        format_sql: true
        show_sql: true
        use_sql_comments: true
        highlight_sql: true
    open-in-view: false

  swagger:
    base-url: ${SWAGGER_BASE_URL:http://localhost:8080}

server:
  port: ${PORT:8080}

logging:
  level:
    root: info
    com.sopt.collaboration: debug
    org.springframework.web: info
    org.hibernate.SQL: debug
    org.hibernate.type.descriptor.sql.BasicBinder: trace
  pattern:
    console: "%d{yyyy-MM-dd HH:mm:ss} - %msg%n"
